@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Archivo', sans-serif;
}

.rs-autoComplete-main input {
  @apply bg-transparent justify-center rounded-md border-solid border-2 focus:border-blue-600 focus:border-opacity-25 text-center dark:text-white;
}

.rs-autoComplete-main {
  @apply w-2/5;
}


.rs-auto-complete-item{
  background-color: #232c3b;
}

.rs-auto-complete-menu {
  background-color: #232c3b;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #271970 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff26;
}

*::-webkit-scrollbar-thumb {
  background-color: #271970;
}

.rs-popover-content {
  margin: 0 !important;
}

body {
  overflow-x: hidden;
}