@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Archivo', sans-serif;
}

.rs-autoComplete-main input {
  @apply bg-transparent justify-center rounded-md border-solid border-2 focus:border-blue-600 focus:border-opacity-25 text-center dark:text-white;
}

.rs-autoComplete-main {
  @apply w-2/5;
}


.rs-auto-complete-item{
  background-color: #232c3b;
}

.rs-auto-complete-menu {
  background-color: #232c3b;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #74475c;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #723f57;
}

::-webkit-scrollbar-thumb:active {
  background: #51303f;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #666666;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.rs-popover-content {
  margin: 0 !important;
}

body {
  overflow-x: hidden;
}